*{
    box-sizing: border-box;
    margin: 0%;
    padding: 0%;
    background-color: rgb(255, 255, 255);
}


li,a,button{
    font-family: Courier New, Courier, monospace;
    font-weight: 500;
    font-size: 20px;
    color: black;
    text-decoration: none;
    background-color: grey;

}
header{
    display:flex;
    justify-content: flex-end;
    align-items: center;
    padding: 30px 10%;
    height: 5px;
    background-color: grey;
}

.nav_links{
    list-style: none;
    background-color: grey;

}
.nav_links li{
    display: inline-block;
    padding: 0px 20px;
}
.nav_links li,a{
    transition:all 0.3s ease 0s;
}
.nav_links li,a:hover{
    color: rgb(122, 245, 245);
}
button{
    padding: 9px 25px;
    background-color: rgb(92, 91, 91);
    border: none;
    border-radius: 50px;
    transition:all 0.3s ease 0s;
    cursor:pointer;
}
button:hover{
    background-color: rgb(122, 245, 245);
}
img{
    position: center;
    height: 500px;
    margin-top: 20px;
    margin-left: 450px;

}